body {
    margin-top: 100px;
    text-align: left;
    font-family: 'Lora', serif;
    box-sizing: border-box;
}

header {
    display: flex;   
    justify-content: flex-start;
    align-items: center;
}

a {
    color: #000;
    text-decoration: none;
}

ul {
    list-style-type: disc;
}

main {
    font-family: Lora;
}

.desktop {
    display: block;
}

.mobil {
    display: none;
}

.click-svg, .extern-svg, .toggle-svg {
  width: 15px;
  height: auto;
  vertical-align: middle;
  display: inline-block;
}

.rainbow-text {
  background: linear-gradient(45deg, red, orange, yellow, green, blue, indigo, violet);
  background-size: 400% 400%;
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  animation: rainbow 5s ease infinite;
}

@keyframes rainbow {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.kopf {
    width: auto;
    height: 225px;
    margin-left: 100px;
    border-radius: 15px;
    cursor: pointer;
}

.konstitution {
    text-align: center;
}

.allgemeiner-deutscher {
    font-family: Arial, sans-serif;
    font-size: 30px;
}

.internetauftritt {
    font-family: 'Charmonman', cursive;
    font-size: 30px;
    margin-top: -0.5em;
    margin-left: 15px;
}


/**/
    .para-liste {
      list-style: none;
      counter-reset: paragraph-counter;
      margin-left: 0px;
      padding: 0;
    }

    .para-liste > li {
      counter-increment: paragraph-counter;
      position: relative;
      padding-left: 2em;
      margin-top: 0.5em;
    }

    .para-liste > li::before {
      content: "ยง" counter(paragraph-counter) " ";
      position: absolute;
      left: 0;
    }

    .para-liste ul {
      list-style-type: disc;
      margin-left: -0.5em;
      padding-left: 0;/
    }

    .para-liste ul li {
      padding-left: 0.5em;
    }
/**/


.ex-inhalte {
    display: block;
    margin-left: 20px;
}

h3:not(.verfassung, .legende) {
    margin-top: 70px;
}

main {
    margin-left: 100px;
    margin-right: 100px;
}

footer {
    margin-top: 100px;
    text-align: center;
}

h2 {
    text-align: center;
}

h4 {
    font-size: 25px;
}

.legende {
    margin-top: 50px;
}

.impressum {
    margin-top: 13px;
}


/**/
    .mitglieder-container {
        display: flex;
        flex-direction: flex-start;
    }

    .toggleTrigger {
        display: block;
        cursor: pointer;
    }

    .m-info-row div {
        margin-left: 50px;
        margin-top: 2px;
        margin-bottom: 20px;
        border-left: 1px solid lightgrey;
        padding-left: 5px;
        max-width: 300px;
        word-wrap: break-word;
        overflow-wrap: break-word;
        overflow: auto; /* scrollbar */
        white-space: normal;
    }

    .m-info td:nth-child(2) {
        border-radius: 5px;
        position: relative;
        transition: transform 0.4s ease-out;
        cursor: pointer;
    }

    .m-info td:nth-child(2):hover::after {
        transform: scaleX(1);
    }

    .m-info td:nth-child(2)::after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 1px;
        background-color: #000;
        transform: scaleX(0);
        transform-origin: bottom left;
        transition: transform 0.4s ease-out;
    }

    .m-grundinfo {
        margin-bottom: 0px !important;
        opacity: 0.5;
    }

    .m-grundinfo td:nth-child(2){
        padding-left: 90px;
    }

    .vertikale-linie {
        width: 1px;
        height: 150px;
        background-color: black;
        margin-left: 150px;
        margin-right: 20px;
    }

    .m-titel {
        cursor: pointer;
        display: none;
        max-height: 150px;
        border-left: 1px solid lightgrey;
        padding-left: 5px;
    }

    .toggleTrigger {
        margin-bottom: 3px;
    }

    .toggleContent {
        border-left: 1px solid lightgrey;
        padding-left: 10px;
    }

    #editable-text {
        border: 1px dashed black;
        border-radius: 8px;
        width: 40%;
        padding: 10px;
        margin-top: 50px;

    }

    #edit-button, #logout-button {
        background-color: white;
        border: 0px;
    }

/**/
    .ergaenzungen p {
        margin-top: 10px !important;
    }

    .ergaenzungen {
        list-style: none; 
        counter-reset: list-counter; 
        margin-left: -40px !important;
    }

    .ergaenzungen li {
        counter-increment: list-counter;
        margin-top: 10px;
    }

    .ergaenzungen li::before {
        content: counter(list-counter) ". "; 
        font-weight: bold; 
    }
    

/* ================
    Passwort-Form
   ================ */
.lego-construction {
    width: auto;
    height: 400px;
}

.passwordForm-eins {
    font-size: 18px;
}

.passwordForm-zwei {
    font-size: 1em;
    margin-top: 50px;
}

#passwordForm {
    text-align: center;
    font-family: 'Lora', serif;
}

#passwordInput {
    margin-top: 20px;
    width: 100%;
    max-width: 300px;
    padding: 12px 15px;
    font-size: 18px;
    border: 2px solid transparent;
    border-radius: 5px;
    box-sizing: border-box;
}

#passwordInput:hover {
    border: 2px dashed transparent;
    border-radius: 5px;
    border-image: linear-gradient(45deg, orange 12.5%, white 12.5%, white 25%, orange 25%, orange 37.5%, white 37.5%, white 50%, orange 50%, orange 62.5%, white 62.5%, white 75%, orange 75%, orange) 1;
    outline: none;
    box-shadow: 0 0 5px orange;
    border-right: 3px solid #ff4500;
}

#passwordInput:focus {
    border: 2px dashed transparent;
    border-radius: 5px;
    border-image: linear-gradient(45deg, orange 12.5%, white 12.5%, white 25%, orange 25%, orange 37.5%, white 37.5%, white 50%, orange 50%, orange 62.5%, white 62.5%, white 75%, orange 75%, orange) 1;
    outline: none;
    box-shadow: 0 0 5px orange;
    border-right: 3px solid #ff4500;
}

.haekchen {
    color: green;
    font-size: 25px;
    width: 50px;
    border: 0;
    background-color: white;
}

.haekchen:hover {
    color: white;
    background-color: green;
    border-radius: 45px;
}

.regelungen p {
    margin-top: 30px;
}


/* ================
       main-nav
   ================ */
.main-nav {
    text-align: left;
    margin-left: 30px;
}

.main-nav li {
    display: inline-block;
    margin-left: 10px;
}

.main-nav a {
    color: #000;
    text-decoration: none;
    font-weight: bold;
    padding: 8px;
    border-radius: 5px;
    position: relative;
    transition: transform 0.4s ease-out;
}

.internetauftritt a {
    font-weight: normal;
}

.dark-mode main-nav a {
    color: #ffffff !important;
}

.main-nav a:hover::after {
    transform: scaleX(1);
}

.main-nav a::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #000;
    transform: scaleX(0);
    transform-origin: bottom left;
    transition: transform 0.4s ease-out;
}


/* ================
    Scroll-Button
   ================ */
#scrollToTopBtn {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #007BFF;
    color: white;
    border: none;
    padding: 15px;
    border-radius: 5px;
    font-size: 20px;
    cursor: pointer;
    display: none;
    z-index: 2;
}

#scrollToTopBtn:hover {
    background-color: #0056b3;
}


/* ================
      Springe-zu
   ================ */
.springe-zu {
    position: fixed;
    top: 100px;
    right: 20px;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    z-index: 1;
    border-left: 1px dashed #11113A;
    border-bottom: 1px dashed #11113A;
    border-top: 1px dashed #11113A;
    background-image: url('/b/bg_bright_springe-zu.png');
    background-size: cover; 
    background-position: center;
    background-repeat: no-repeat;
}

.springe-zu ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.springe-zu ul li {
    margin: 0px 0;
}

.springe-zu a {
    color: #000;
    text-decoration: none;
    font-weight: bold;
    display: block;
    padding: 8px;
    border-radius: 5px;
    transition: background-color 0.3s;
    position: relative;
}

.springe-zu a:hover {
    background-color: #ddd;
}


/* ================
       Cookies
   ================ */
#cookieBanner {
    position: fixed;
    bottom: auto;
    left: 50%;
    transform: translateX(-50%);
    background: rgba(0, 0, 0, 0.8);
    color: white;
    padding: 10px 20px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    gap: 10px;
    opacity: 1;
    transition: opacity 1s ease-in-out;
    z-index: 3;
}

#cookieBanner button {
    background: #ffd700;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    font-weight: bold;
    border-radius: 5px;
}


/* ================
        Login
   ================ */
.login {
    width: 320px;
    height: auto;
    border: 1px dashed #ffd215;
    padding: 20px;
    
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}   

.login-text {
    text-align: center;
    font-size: 14px;
}

.login-eingabe {
    font-size: 14px;
}

.login-eingabe div input {
    border: 0px;
    outline: none;
}

.login-eingabe div input:focus {
    border: 0px;
}

.login-pw {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 30px;
}

#login-button {
    color: green;
    font-size: 15px;
    border: 0;    
    background-color: white;
}

#login-button:hover {
    color: white;
    background-color: green;
    border-radius: 45px;
}

.login-buttons {
    display: flex; 
    gap: 30px;
}

#login-button-2, #members-button {
    font-size: 15px;
    border: 0px solid black;  
    font-style: italic; 
    color: black;
    background-color: white;
}

#members-button:hover::after, #login-button-2:hover::after {
    transform: scaleX(1);
}

#members-button::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: black;
    transform: scaleX(0);
    transform-origin: bottom left;
    transition: transform 0.8s ease-out;
}

#login-button-2::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: black;
    transform: scaleX(0);
    transform-origin: bottom right;
    transition: transform 0.8s ease-out;
}


/* ================
      Impressum
   ================ */
.dark-mode #imp-ja, .dark-mode #imp-nein {
    background-color: transparent !important;
    color: #D5EDF6 !important;
    border: 1px solid #D5EDF6;
}

.dark-mode #imp-ja:before, .dark-mode #imp-nein:before {
    background-color: #122c46 !important;
}

#imp-ja, #imp-nein {
  background-color: transparent;
  border: 1px solid #266DB6;
  box-sizing: border-box;
  color: #00132C;
  font-family: "Avenir Next LT W01 Bold",sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  padding: 16px 23px;
  position: relative;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  margin-left: 20px;
  margin-top: 20px;
}

#imp-ja:hover, #imp-nein:hover,
#imp-ja:active, #imp-nein:active {
  outline: 0;
}

#imp-ja:hover, #imp-nein:hover {
  background-color: transparent;
  cursor: pointer;
}

#imp-ja:before, #imp-nein:before {
  background-color: #D5EDF6;
  content: "";
  height: calc(100% + 3px);
  position: absolute;
  right: -7px;
  top: -9px;
  transition: background-color 300ms ease-in;
  width: 100%;
  z-index: -1;
}

#imp-ja:hover:before, #imp-nein:hover:before {
  background-color: #6DCFF6;
}

  
#results { 
    display: none; /* Alles auf einmal verstecken */
}

#chart { 
    width: 300px;
    height: 30px; 
    background: lightgray; 
    position: relative; 
    margin-top: 50px;
}

#ja-bar, #nein-bar { 
    height: 100%; 
    position: absolute; 
    width: 0%; 
}

#ja-bar { background: green; }
#nein-bar { background: red; right: 0; }


/* ================
        Mobil
   ================ */
@media (max-width: 768px) {
    body {
        margin-top: 0px;
        padding-bottom: 100px;
    }

    h4 {
        font-size: 20px;
    }

    .header-container {
        flex-direction: column;
        height: 200px !important;
        margin-top: 25px;
        padding: 0;
        text-align: center;
    }

    .kopf {
        width: auto;
        height: 200px;
        margin-left: 0px;
     }

     .internetauftritt, .allgemeiner-deutscher {
         margin-left: 40px !important;
     }
     
    .lego-construction {
        width: 80% !important;
        height: auto !important;
    }

    .desktop {
        display: none;
    }

    .mobil {
        display: block;
    }
    
    .#imp-ja, #imp-nein {
        padding: 16px 32px;
    }

    #editable-text {
        width: 90%;
    }


/*main*/
    main {
        width: calc(100% - 40px);
        margin: 0 auto;
        padding: 10px;
        box-sizing: border-box;
    }

    main ul, ol {
        margin-left: -20px;
    }

    main li {
        margin-top: 0.5em;
    }

    main p {
        margin-top: 0.5em;
    }
    
    .main-nav {        
        margin-left: 0px;
    }
    
    .main-nav ul {
        display: block;
        text-align: center;
        padding: 0;
        margin-top: 30px;
    }

    .main-nav li {
        margin: 0px;
    }


/*springe-zu*/
    .springe-zu {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        width: 90%;
        max-width: 290px;
        background-color: #fff;
        padding: 10px 20px;
        border-bottom: 1px dashed #11113A;
        border-top: 1px dashed #11113A;
        position: sticky;
        top: 20px;
        margin-left: 15%;
        
    }

    .springe-rechts {
        margin-top: 20px !important;
    }

    .springe-zu ul {
        list-style: none;
        padding: 0;
        margin: 0;
        flex: 1;
    }

    .springe-zu ul li {
        text-align: left;
    }

    .springe-zu a {
        color: #000;
        text-decoration: none;
        font-weight: bold;
        padding: 8px;
        border-radius: 5px;
        transition: background-color 0.3s;
        display: block;
    }

    .springe-zu a:hover {
        background-color: #ddd;
    }
/**/


    #passwordForm {
        font-size: 14px;
        margin-top: 50px;
        margin-left: 30px;
        margin-right: 30px !important;
        text-align: center;
        font-family: 'Lora', serif;
    }

    #passwordInput {
        margin-top: 20px;
        width: 70%;
    }

    .haekchen {
        font-size: 15px;
        width: 30px;
    }

    #cookieBanner {
        width: 90%;
        bottom: 10px;
        font-size: 14px;
        flex-direction: column;
        text-align: center;
    }

    #cookieBanner button {
        width: 100%;
        margin-top: 5px;
    }

    .allgemeiner-deutscher {
        text-align: left;
        font-size: 20px !important;
        margin-top: 10px;
        margin-left: 20px;
    }

    .internetauftritt {
        font-size: 20px !important;
        margin-top: 5px !important;
    }
    
    .internetauftritt a {
        all: inherit;
        text-decoration: none;
        display: inline;
        margin: 0.2em;
    }

    .konstitution {
        margin-top: 370px ! important;
        margin-bottom: 25px;
        text-align: center;
    }

    .abstand-reg {
        margin-top: 30px;
    }

    .abstand-nm li {
        margin-top: 0px;
    }

    #mitglieder {
        margin-top: 350px;
    }

    #kontakt {
        margin-top: 275px;
    }
    
    #impressum {
        margin-top: 250px;
    }

    .mitglieder-container {
        flex-direction: column;
        justify-content: flex-start;
    }

    .vertikale-linie {
        width: 250px;
        height: 1px;
        margin-top: 50px;
        margin-left: 0px;
    }


    
}

/* ================
       Darkmode
   ================ */
body.dark-mode {
    background-color: #070f1b; /* #070f1b #121212 #070f1A */
    color: white;
}

header button {
    background-color: white;
    border: none;
}

.dark-mode header button {
    background-color: #070f1b; 
}

.dark-mode .main-nav a::after {
    background-color: white;
}

.dark-mode *:not(.rainbow-text) {
    color: white !important;
}

.dark-mode .springe-zu {
    border-left: 1px dashed white;
    border-bottom: 1px dashed white;
    border-top: 1px dashed white;
    background-image: url('/b/bg_dark_springe-zu.png') !important;
    background-size: cover; 
    background-position: center;
    background-repeat: no-repeat;
}

.dark-mode #scrollToTopBtn {
    border: 1px dashed #2e66b9;
    background-image: url('/b/bg_dark_springe-zu.png') !important;
    background-size: cover; 
    background-position: center;
    background-repeat: no-repeat;
}

.dark-mode #username, .dark-mode #password {
    background-color: #070f1b !important;
}

.dark-mode #login-button {
    color: green !important;
    background-color: #070f1b !important;
}

.dark-mode #login-button-2, .dark-mode #members-button {
    color: white;
    background-color: #070f1b;
}

.dark-mode #edit-button, .dark-mode #logout-button {
        background-color: #070f1b;
}

.dark-mode #editable-text {
        border: 1px dashed white;
}

.dark-mode .click-svg {
  content: url('../../bilder/click-dark.svg');
}
